<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Симуляция СМО (M/M/1)</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="container">

    <h1>Симуляция СМО (M/M/1)</h1>

    <div class="form-block">

        <input type="number" id="lambda" placeholder="λ">

        <input type="number" id="mu" placeholder="μ">

        <input type="number" id="T" placeholder="Время моделирования">

        <button onclick="runSimulation()">
            Запустить
        </button>

    </div>

    <div class="stats">

        <h2>Статистика</h2>

        <p id="served"></p>

        <p id="lost"></p>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>